@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', sans-serif;
    --fonte03: 'Sriracha', cursive;
    
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-size: 8vw;
    background-color: black;
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-family: var(--fonte02);

}

header p{
    padding-bottom: 50px; 
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.5vw;
}

section p{
    padding: 2em;
}

section.normal{
    background-color: white;
    color: black;
    font-family: var(--fonte03);
}

section.imagem{
    background-color: rgb(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.664);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.553);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
    
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}